{:paths ["src/main"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.fulcrologic/fulcro {:mvn/version "3.5.29"}
        com.fulcrologic/fulcro-garden-css {:mvn/version "3.0.9"}}
 :aliases {;; Maybe rename to client and server?
           :clj {:extra-paths ["resources"]
                 :extra-deps {org.clojure/core.cache {:mvn/version "1.0.225"}
                              org.clojure/data.json {:mvn/version "2.4.0"}
                              cheshire/cheshire {:mvn/version "5.11.0"} ; For clj-http 
                              clj-http/clj-http {:mvn/version "3.12.3"} ; Consider replacing for hato.
                              com.wsscode/pathom {:mvn/version "2.4.0"}
                              datalevin/datalevin {:mvn/version "0.6.22"}
                              district0x/graphql-query {:mvn/version "1.0.6"}
                              metosin/reitit-ring {:mvn/version "0.5.18"}
                              metosin/reitit-frontend {:mvn/version "0.5.18"}
                              metosin/reitit-middleware {:mvn/version "0.5.18"}
                              mount/mount {:mvn/version "0.1.16"}
                              ring/ring-core {:mvn/version "1.9.6"}
                              ring/ring-jetty-adapter {:mvn/version "1.9.6"}
                              tick/tick {:mvn/version "0.5.0"}}
                 ;; Datalevin needs this.
                 :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                            "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}
           :cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.60"}
                               thheller/shadow-cljs {:mvn/version "2.20.12"}}}}}
