{:deps {:aliases [:cljs]}
 :builds {:main {:target :browser
                 :output-dir "resources/public/assets/main/js/compiled"
                 :asset-path "/assets/main/js/compiled"
                 :modules {:main {:init-fn kyleerhabor.treehouse.client/init
                                  :entries [kyleerhabor.treehouse.client]}}
                 :devtools {:after-load kyleerhabor.treehouse.client/refresh
                            :preloads [com.fulcrologic.fulcro.inspect.preload
                                       com.fulcrologic.fulcro.inspect.dom-picker-preload]}}}}
