{:deps {:aliases [:client]}
 :builds {:main {:target :browser
                 :output-dir "resources/public/assets/main/js/compiled"
                 :asset-path "/assets/main/js/compiled"
                 :build-hooks [(kyleerhabor.treehouse.shadow/css)]
                 :modules {:main {:init-fn kyleerhabor.treehouse.client/init
                                  :entries [kyleerhabor.treehouse.client]}}
                 :devtools {:after-load kyleerhabor.treehouse.client/refresh
                            :preloads [com.fulcrologic.fulcro.inspect.preload
                                       com.fulcrologic.fulcro.inspect.dom-picker-preload
                                       kyleerhabor.treehouse.shadow.preload]
                            :watch-dir "resources/public"}
                 :compiler-options {:source-map true}
                 :release {:compiler-options {:fn-invoke-direct true
                                              :source-map-detail-level :symbols}}}}}
