(doc {:title "Is Mission Control Plus slow?"} 
  (text "On June 10th, 2023, I noticed that surfacing the Dock and gliding my mouse pointer across the apps was slower than usual. Normally, I notice no slowdowns or animation \"hiccups\" when working with the Dock—but this time was different. The app name which rests above the currently app being hovered over was trying to play catchup with my mouse pointer.")
  (text "So, I opened Activity Monitor and started looking for unusual processes. I noticed that Xcode left a stray app process which was causing Stage Manager to keep my apps hidden, but killing that didn't resolve the issue with the dock. I also learned that IDSBlastDoorService is a thing, which was interesting to read about for ~5 minutes.")
  (text "After staring at the processes for about a minute, I decided that sorting by CPU Time would be more useful, since a long-running process may run into an issue later. So down the list, we have the usual suspects like WindowServer, kernel_task, and coreaudiod. Then we have this funny process called configd, which macOS *really* discourages you from killing (\"WARNING: The process 'configd' is owned by root. If you quit this process, macOS may not operate correctly.\").")
  (text "I tried killing some processes. Dock? Gone. mds? Gone. WindowManager? Gone, even though it was surprising to see all the windows become centered then arranged by Stage Manager. TouchBarServer? Eliminated. Wi-Fi? Decimated. Mission Control Plus...?")
  (text "I've had Mission Control Plus as an app for a few months now, since sliding up with my trackpad, moving my mouse around, and hitting ⌘W (Command-W) has been convenient for keeping my windows organized. I tried killing that, and noticed that the dock became immediately responsive again. Thankfully, this meant there was no need to restart my Mac, but this does not mean that the issue is resolved. It could've been Keyboard Maestro, which I installed yesterday. It could've been a web of processes which may have lead to the issue (since this issue hasn't surfaced until today).")
  (text "I like keeping my Mac running for as long as possible. Usually, this just means one or two weeks, but not out of some \"safe procedure\"—rather, it's because some service has dragged me out to that point (usually when Activity Monitor doesn't want to tell me what is hogging much of my memory). I think it's weird that we treat our phones as devices we can just pick up whenever and continue where we left off, but when it comes to laptops and desktops, many people treat them as special devices which need to be cared for. Ideally, the only time I should need to restart my laptop is when some process needs to run with complete control over the system (usually system software updates, but even these could be broken apart to not require a full restart).")
  (text "By time I resolved my issue, I just started up Mission Control Plus again, since it's an app I like (even though it doesn't seem to get updates). I don't think it's intentionally slow, but, for this occasion, it *was* slow. :("))
